$color__text--primary: rgba(0, 0, 0, .87);
$color__text--secondary: rgba(0, 0, 0, .54);
$color__text--hint: rgba(0, 0, 0, .28);

$color__text--light-primary: rgba(255, 255, 255, 1);
$color__text--light-secondary: rgba(255, 255, 255, .7);
$color__text--light-hint: rgba(255, 255, 255, .3);

$color__green: #4CAF50;
$color__blue: #03A9F4;
$color__orange: #FF9800;
$color__purple: #9C27B0;
$color__red: #e51c23;
$color__white: #ffffff;
$color__black: #000000;

// variants
$color__white--smoke: #909090;
$color__orange--deep: #FF5722;
$color__purple--deep: #673AB7;

// gray
$color__gray400: #BDBDBD;

$color__primary: $color__blue;