.margin-min-left {
	margin-left: 5px !important;
}
.margin-min-right {
	margin-right: 5px !important;
}
.margin-min-top {
	margin-top: 5px !important;
}
.margin-min-bottom {
	margin-bottom: 5px !important;
}